<div id="characters" class="bg-scroll">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
	<h2 class="text-center">Persónur</h2>
	{% for character in characters %}
	<div class="character row">
	  <div class="col-sm-3 col-xs-12">
	    <img class="img-rounded" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" height="140" width="140" alt="{{ character.name }}"></img>
	  </div>
	  <div class="col-sm-9 col-xs-12">
	    <h3>{{ character.name }}</h3>
	    <p class="title"><em>{{ character.title }}</em></p>
	    {% if character.description %}
	    <p>{{ character.description }}</p>
	    {% else %}
	    <p><a href="#template" class="btn btn-default btn-sm">Ég vil vera þessi!</a></p>
	    {% endif %}
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
