<div id="template" class="bg-scroll">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
	<h2 class="text-center">Persónusköpun</h2>

	<p>Sendu <strong>mynd af þér</strong> og <strong>svar við eftirfarandi spurningum</strong> <a href="mailto:mordgata@trickvi.is">til Tryggva (mordgata@trickvi.is)</a> fyrir <strong>lok 20. nóvember</strong> annars býr Tryggvi mjög extra vandræðalega persónu fyrir þig.</p>
	<p>Reyndu samt að vera svolítið extravagant því það gerir leikinn mun skemmtilegri. Fyrstir koma, fyrstir fá.</p>
	
	<ol>
	  <li>Hvaða persóna viltu vera?</li>
	  <li>Lýstu persónunni þinni (a.m.k 2-3 setningar).</li>
	  <li>Hvaða þrjú orð sem lýsa persónunni þinni best?</li>
	  <li>Hvaða lag væri spilað þegar persónan þín er kynnt til sögunnar í bíómynd?</li>
	  <li>Hvaða kæki eða óvenjur hefur persónan þína?</li>
	  <li>Hver eru áhugamál persónunnar þinnar?</li>
	  <li>Hvað pirrar persónuna þína út í hið óendanlega?</li>
	  <li>Hvaða sérvisku/hjátrú hefur persónan þín?</li>
	  <li>Hvað kemur persónunni þinni í uppnám?</li>
	  <li>Hverju hefur persónan þín sterka skoðun á?</li>
	  <li>Hvaða fælni (fóbíu) hefur persónan þín?</li>
	  <li>Hvað gerir persónuna þína hamingjusama?</li>
	  <li>Hver er mesta leyndarmál persónunnar þinnar og af hverju er það leyndarmál?</li>
	  <li>Hvað er það besta sem hefur komið fyrir persónuna þína?</li>
	  <li>Hvað er það versta sem hefur komið fyrir persónuna þína?</li>
	  <li>Ertu með einhverjar séróskir?</li>
	</ol>

	<p>Tryggvi áskilur sér rétt til að breyta persónunni til að passa betur í söguna.</p>
      </div>
    </div>
  </div>
</div>
